.raleway-regular, body, .raleway-italic-regular, .raleway-italic-light, .raleway-black, .raleway-extrabold, .raleway-bold, .raleway-semibold, .raleway-medium {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-medium {
  font-weight: 500;
}

.raleway-semibold {
  font-weight: 600;
}

.raleway-bold {
  font-weight: 700;
}

.raleway-extrabold {
  font-weight: 800;
}

.raleway-black {
  font-weight: 900;
}

.raleway-italic-regular, .raleway-italic-light {
  font-weight: 400;
  font-style: italic;
}

.raleway-italic-light {
  font-weight: 300;
}

html {
  font-size: 10px;
}

body {
  line-height: 1.5;
}

p {
  font-size: 1.5rem;
}
