.raleway-regular, .homeModal__wrapper__contents__p, .homeModal__wrapper__contents__block__left, .homeModal__wrapper__contents__block__right, body, .raleway-italic-regular, .raleway-italic-light, .raleway-black, .raleway-extrabold, .raleway-bold, .nav__wrapper__logo__brand, .nav__wrapper__ul__li__a, .edu-exp__card__title, .about__info__block__left, .raleway-semibold, .projects__card__layer__contents__title, .projects__card__layer__contents__tools, .raleway-medium, .projects__card__layer__link a i, .edu-exp__card__block__right, .about__info__message, .about__info__block__right, .about__info__socials__circle i, .btn, .homeHeader__data__contents__top, .homeHeader__data__contents__bottom {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-medium, .projects__card__layer__link a i, .edu-exp__card__block__right, .about__info__message, .about__info__block__right, .about__info__socials__circle i, .btn, .homeHeader__data__contents__top, .homeHeader__data__contents__bottom {
  font-weight: 500;
}

.raleway-semibold, .projects__card__layer__contents__title, .projects__card__layer__contents__tools {
  font-weight: 600;
}

.raleway-bold, .nav__wrapper__logo__brand, .nav__wrapper__ul__li__a, .edu-exp__card__title, .about__info__block__left {
  font-weight: 700;
}

.raleway-extrabold {
  font-weight: 800;
}

.raleway-black {
  font-weight: 900;
}

.raleway-italic-regular, .raleway-italic-light {
  font-weight: 400;
  font-style: italic;
}

.raleway-italic-light {
  font-weight: 300;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  width: 100%;
  height: 7rem;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 0.1rem solid #f3f4f6;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.nav__wrapper {
  width: 100%;
  max-width: 120rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .nav__wrapper {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.nav__wrapper__logo__brand {
  font-size: 2.5rem;
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
}
.nav__wrapper__logo__brand::after {
  position: absolute;
  right: -1rem;
  bottom: 0.6rem;
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  background: #3b82f6;
  border-radius: 50%;
  box-shadow: 0.2rem 0.2rem #bfdbfe;
}
.nav__wrapper__ul {
  display: flex;
  list-style: none;
}
@media (max-width: 768px) {
  .nav__wrapper__ul {
    position: fixed;
    top: 7rem;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3b82f6;
    flex-direction: column;
    padding-top: 5rem;
    transform: scale(0);
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    transform-origin: 100% 50%;
  }
}
.nav__wrapper__ul__li__a {
  font-size: 1.4rem;
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  transition: all 0.5s linear;
}
@media (max-width: 768px) {
  .nav__wrapper__ul__li__a {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    color: #fff;
  }
  .nav__wrapper__ul__li__a:hover {
    background: #fff;
    color: #000;
    padding-left: 3.5rem;
  }
}
.nav__wrapper__ul__li:first-child .nav__wrapper__ul__li__a {
  color: #3b82f6;
}
@media (max-width: 768px) {
  .nav__wrapper__ul__li:first-child .nav__wrapper__ul__li__a {
    color: #000;
  }
}
.nav__wrapper__ul__li:last-child .nav__wrapper__ul__li__a {
  padding-right: 0;
}
.nav__wrapper__toggle {
  display: none;
  width: 3rem;
  height: 3rem;
  background: #3b82f6;
  border-radius: 0.4rem;
  outline: 0.3rem solid #bfdbfe;
  cursor: pointer;
}
.nav__wrapper__toggle i {
  color: #fff;
  font-size: 2.1rem;
}
@media (max-width: 768px) {
  .nav__wrapper__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .nav__active {
    transform: scale(1);
    border-radius: 0%;
  }
}

.homeHeader {
  margin-top: 7rem;
  position: relative;
}
.homeHeader::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 50%;
  height: calc(100vh - 10rem);
  background: url("../../assets/img/user.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 15%;
  clip-path: polygon(19% 0, 100% 0%, 100% 100%, 0% 100%);
}
@media (max-width: 992px) {
  .homeHeader::after {
    width: 100%;
    height: calc(50vh - 7rem);
    clip-path: none;
  }
}
.homeHeader__data {
  width: 100%;
  height: calc(100vh - 10rem);
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .homeHeader__data {
    height: calc(50vh - 3rem);
    margin-top: calc(50vh - 7rem);
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .homeHeader__data {
    justify-content: flex-start;
  }
}
.homeHeader__data__contents__top {
  font-size: 1.7rem;
  color: #000;
  text-transform: capitalize;
}
@media (max-width: 480px) {
  .homeHeader__data__contents__top {
    font-size: 1.6rem;
  }
}
.homeHeader__data__contents__heading {
  margin-top: 1.5rem;
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 4.5rem;
  background: linear-gradient(45deg, #000 50%, #3b82f6 50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-transform: capitalize;
}
@media (max-width: 992px) {
  .homeHeader__data__contents__heading {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media (max-width: 768px) {
  .homeHeader__data__contents__heading {
    font-size: 3.3rem;
    line-height: 3.3rem;
    margin-top: 1rem;
    font-weight: 800;
  }
}
@media (max-width: 480px) {
  .homeHeader__data__contents__heading {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 700;
  }
}
.homeHeader__data__contents__bottom {
  font-size: 1.8rem;
  color: #000;
  margin-top: 1.5rem;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .homeHeader__data__contents__bottom {
    margin-top: 1rem;
  }
}
@media (max-width: 480px) {
  .homeHeader__data__contents__bottom {
    font-size: 1.7rem;
  }
}
.homeHeader__data__contents__links {
  margin-top: 1.5rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  height: 4.3rem;
  line-height: 4.3rem;
  padding: 0 1.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border: none;
  text-transform: capitalize;
  transition: outline 0.3s linear;
  font-size: 1.5rem;
  color: #000;
}
@media (max-width: 480px) {
  .btn {
    height: 3.5rem;
    line-height: 3.5rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    font-size: 1.2rem;
  }
}
.btn-default {
  background: #3b82f6;
  color: #fff;
}
.btn-default:focus {
  outline: 0.4rem solid #dbeafe;
}
.btn-dark {
  background: #000;
  color: #fff;
}
.btn-dark:focus {
  outline: 0.4rem solid rgba(0, 0, 0, 0.2);
}

.homeModal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.homeModal__wrapper {
  display: flex;
  width: 75rem;
  height: 45rem;
  background: #fff;
  position: relative;
  animation: homeModalOpening 0.5s ease-in;
}
@keyframes homeModalOpening {
  from {
    transform: translateY(-4rem);
  }
  to {
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .homeModal__wrapper {
    width: 90%;
    height: auto;
  }
}
.homeModal__wrapper__close {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  display: block;
  font-size: 3rem;
  cursor: pointer;
}
.homeModal__wrapper__image {
  width: 50%;
  height: 45rem;
}
@media (max-width: 768px) {
  .homeModal__wrapper__image {
    display: none;
  }
}
.homeModal__wrapper__image__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.homeModal__wrapper__contents {
  width: 50%;
  padding: 5rem 2rem;
}
@media (max-width: 768px) {
  .homeModal__wrapper__contents {
    width: 100%;
  }
}
.homeModal__wrapper__contents__p {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  color: #000;
  line-height: 2.5rem;
  text-align: justify;
}
@media (max-width: 480px) {
  .homeModal__wrapper__contents__p {
    font-size: 1.2rem;
  }
}
.homeModal__wrapper__contents__block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  margin-top: 1.5rem;
  border-bottom: 0.1rem dashed #e5e7eb;
}
.homeModal__wrapper__contents__block__left {
  font-size: 1.4rem;
  color: #000;
  text-transform: capitalize;
}
@media (max-width: 480px) {
  .homeModal__wrapper__contents__block__left {
    font-size: 1.2rem;
  }
}
.homeModal__wrapper__contents__block__right {
  font-size: 1.3rem;
  color: #4b5563;
}
@media (max-width: 480px) {
  .homeModal__wrapper__contents__block__right {
    font-size: 1.1rem;
  }
}

.about {
  padding: 8rem 0;
  background: linear-gradient(to right, #eff6ff 30%, #fff 50%);
}
.about__image {
  width: 30rem;
  height: 30rem;
  position: relative;
}
@media (max-width: 1200px) {
  .about__image {
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  .about__image {
    width: 25rem;
    height: 25rem;
  }
}
@media (max-width: 480px) {
  .about__image {
    width: 20rem;
    height: 20rem;
  }
}
.about__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.about__image__small {
  position: absolute;
  top: -3rem;
  left: -3rem;
  width: 15rem;
  height: 15rem;
}
@media (max-width: 992px) {
  .about__image__small {
    width: 12rem;
    height: 12rem;
  }
}
@media (max-width: 480px) {
  .about__image__small {
    width: 10rem;
    height: 10rem;
  }
}
.about__image__small img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 0.7rem solid #eff6ff;
}
.about__info {
  margin-top: 1.5rem;
}
.about__info__message {
  font-size: 1.5rem;
  color: #000;
  line-height: 2.8rem;
  text-align: justify;
}
.about__info__block {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem dashed #d1d5db;
  text-transform: capitalize;
}
.about__info__block__left {
  font-size: 1.4rem;
  color: #000;
}
@media (max-width: 480px) {
  .about__info__block__left {
    font-weight: 500;
  }
}
.about__info__block__right {
  font-size: 1.3rem;
  color: #374151;
}
.about__info__socials {
  margin-top: 2rem;
  display: flex;
}
.about__info__socials__circle {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #60a5fa;
  margin-left: 1rem;
  text-decoration: none;
}
.about__info__socials__circle:first-child {
  margin-left: 0;
}
.about__info__socials__circle i {
  font-size: 1.6rem;
  color: #fff;
}

.edu-exp {
  padding: 8rem 0;
}
.edu-exp--row1 [class^=col-]:nth-child(2) {
  transform: skewY(8deg);
}
@media (max-width: 1200px) {
  .edu-exp--row1 [class^=col-]:nth-child(2) {
    transform: none;
  }
}
.edu-exp--row1 [class^=col-]:nth-child(4) {
  transform: skewY(8deg);
}
@media (max-width: 1200px) {
  .edu-exp--row1 [class^=col-]:nth-child(4) {
    transform: none;
  }
}
.edu-exp--row2 [class^=col-]:nth-child(1) {
  transform: skewY(-8deg);
}
@media (max-width: 1200px) {
  .edu-exp--row2 [class^=col-]:nth-child(1) {
    transform: none;
  }
}
.edu-exp--row2 [class^=col-]:nth-child(3) {
  transform: skewY(-8deg);
}
@media (max-width: 1200px) {
  .edu-exp--row2 [class^=col-]:nth-child(3) {
    transform: none;
  }
}
.edu-exp__card {
  width: 100%;
  background: linear-gradient(120deg, #fff 50%, #eff6ff 50%);
  padding: 1.5rem;
  margin-bottom: 2rem;
  box-shadow: -3rem 3rem 2rem -3rem rgba(52, 153, 211, 0.2);
  border-radius: 1.3rem;
  min-height: 20rem; /* This min height is to prevent cards from changing size with two-line headings */
}
@media (max-width: 992px) {
  .edu-exp__card {
    min-height: 18rem; /* Min height adjustment for medium screens */
  }
}
@media (max-width: 768px) {
  .edu-exp__card {
    min-height: 16rem; /* Min height adjustment for small screens */
  }
}
.edu-exp__card__title {
  font-size: 1.3rem;
  color: #000;
  line-height: 2rem;
  text-transform: uppercase;
  background: linear-gradient(45deg, #000 20%, #3b82f6 20%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.edu-exp__card__block {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}
.edu-exp__card__block__left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
}
.edu-exp__card__block__left--studies {
  background: #dbeafe;
}
.edu-exp__card__block__left--studies i {
  color: #2563eb;
  font-size: 2.1rem;
}
.edu-exp__card__block__left--building {
  background: #dbeafe;
}
.edu-exp__card__block__left--building i {
  color: #2563eb;
  font-size: 1.6rem;
}
.edu-exp__card__block__left--calendar {
  background: #e5e7eb;
}
.edu-exp__card__block__left--calendar i {
  color: #374151;
  font-size: 1.6rem;
}
.edu-exp__card__block__right {
  font-size: 1.3rem;
  color: #000;
  display: inline-block;
  margin-left: 1rem;
  text-transform: capitalize;
  flex: 1;
}

.projects {
  padding: 8rem 0;
}
.projects__card {
  width: 100%;
  max-height: 27rem;
  overflow: hidden;
  position: relative;
}
.projects__card__image {
  width: 100%;
  height: 100%;
}
.projects__card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projects__card__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #93c5fd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  transform: scale(0);
  transform-origin: 100% 100%;
  transition: transform 0.2s linear;
}
.projects__card__layer__contents__title {
  font-size: 1.6rem;
  color: #1e3a8a;
  text-transform: capitalize;
}
.projects__card__layer__contents__tools {
  display: block;
  font-size: 1.2rem;
  color: #1d4ed8;
  margin-top: 0.5rem;
  text-transform: uppercase;
  text-align: center;
}
.projects__card__layer__link {
  margin-top: 1rem;
}
.projects__card__layer__link a {
  text-decoration: none;
}
.projects__card__layer__link a i {
  font-size: 2.5rem;
  color: #fff;
}
.projects__card:hover .projects__card__layer {
  transform: scale(1);
  animation: layerAnimation 0.4s ease-in-out;
}
@keyframes layerAnimation {
  from {
    border-radius: 50%;
  }
  to {
    border-radius: 0%;
  }
}
.projects__card:hover .projects__card__layer__contents {
  animation: contentsAnimation 0.5s ease-in-out;
}
@keyframes contentsAnimation {
  from {
    transform: translateY(-8rem);
  }
  to {
    transform: translateY(0rem);
  }
}
.projects__card:hover .projects__card__layer__link {
  animation: linkAnimation 0.7s ease-in-out;
}
@keyframes linkAnimation {
  from {
    transform: translateY(8rem);
  }
  to {
    transform: translateY(0);
  }
}

.skills {
  padding: 8rem, 0;
}
.skills__contents {
  width: 90%;
}
.container {
  width: 100%;
  max-width: 120rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.row > * {
  padding: 1.5rem;
}

@media (min-width: 1200px) {
  .col-xlg-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-xlg-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-xlg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-xlg-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-xlg-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-xlg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-xlg-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-xlg-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-xlg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-xlg-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-xlg-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-xlg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (max-width: 1200px) {
  .col-lg-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-lg-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-lg-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-lg-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-lg-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (max-width: 992px) {
  .col-md-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-md-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-md-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-md-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-md-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .col-sm-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-sm-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-sm-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-sm-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-sm-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .col-xsm-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-xsm-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-xsm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-xsm-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-xsm-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-xsm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-xsm-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-xsm-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-xsm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-xsm-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-xsm-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-xsm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
.heading {
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #000;
  position: relative;
}
@media (max-width: 480px) {
  .heading {
    font-size: 1.8rem;
  }
}
.heading::after {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  width: 10rem;
  height: 0.5rem;
  background: #3b82f6;
  opacity: 0.4;
}

.lowercase {
  text-transform: lowercase;
}

.items-center {
  align-items: center;
}
