@use "sass:math";
@use "../abstracts" as *;

.container {
  width: 100%;
  max-width: $maxWidth;
  padding-left: $gutter;
  padding-right: $gutter;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

// Extra-large(xlg): 1200px and above
@media (min-width: 1200px) {
  @for $i from 1 through 12 {
    .col-xlg-#{$i} {
      flex-basis: math.div(100%, 12) * $i;
      max-width: math.div(100%, 12) * $i;
    }
  }
}

// Large(lg): max 1199px screens
@media (max-width: 1200px) {
  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      flex-basis: math.div(100%, 12) * $i;
      max-width: math.div(100%, 12) * $i;
    }
  }
}

// Medium screens (md): max 992px screens
@media (max-width: 992px) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      flex-basis: math.div(100%, 12) * $i;
      max-width: math.div(100%, 12) * $i;
    }
  }
}

