@use "../abstracts" as *;

.container {
  width: 100%;
  max-width: $maxWidth;
  padding-left: $gutter;
  padding-right: $gutter;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@each $key, $value in $breakPoints {
  @if $key == xlg {
    @media (min-width: $value) {
      @include generate-columns($key);
    }
  }
  @else {
    @media (max-width: $value) {
      @include generate-columns($key);
    }
  }
}
