@use "../abstracts" as *;

.about {
  padding: 8rem 0;
  background: linear-gradient(to right, $blue-50 30%, $white 50%);

  &__image {
    width: 30rem;
    height: 30rem;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
    &__small {
      @include position(absolute, -3rem, null, null, -3rem);
      width: 15rem;
      height: 15rem;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        border: 0.7rem solid $blue-50;
      }
    }
  }
  &__info {
    margin-top: 1.5rem;
    &__message {
      @include text-style(".raleway-medium", 1.5rem, $black);
      line-height: 2.8rem;
      text-align: justify;
    }
    &__block {
      @include flexBox(space-between, null);
      margin-top: 1.5rem;
      padding-bottom: 0.5rem;
      border-bottom: 0.1rem dashed $gray-300;
      &__left {
        font-size: 1.4rem;
        font-weight: 600;
        color: $black;
        text-transform: capitalize;
      }
      &__right {
        font-size: 1.3rem;
        font-weight: 500;
        color: $gray-700;
        text-transform: capitalize;
      }
    }
    &__socials {
    
    }
  }
}
