@use "../abstracts" as *;

.btn {
  display: inline-block;
  text-decoration: none;
  height: 4.3rem;
  line-height: 4.3rem;
  padding: 0 1.5rem;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
  text-transform: capitalize;
  &-default {
    background: $blue-500;
    color: $white;
    &:focus {
      outline: 0.4rem solid $blue-100;
    }
  }
  &-dark {
    background: $black;
    color: $white;
    &:focus {
        outline: 0.4rem solid $black-light;
      }
  }
}
