@use "../abstracts" as *;

.edu-exp {
  padding: 8rem 0;

  &--row1 {
    @include skew-responsive(8, 2);
    @include skew-responsive(8, 4);
  }

  &--row2 {
    @include skew-responsive(-8, 1);
    @include skew-responsive(-8, 3);
  }

  &__card {
    width: 100%;
    background: linear-gradient(120deg, $white 50%, $blue-50 50%);
    padding: 1.5rem;
    margin-bottom: 2rem;
    box-shadow: -3rem 3rem 2rem -3rem rgba(52, 153, 211, 0.2);
    border-radius: 1.3rem;
    min-height: 20rem; /* This min height is to prevent cards from changing size with two-line headings */
    @include responsive(md) {
      min-height: 18rem; /* Min height adjustment for medium screens */
    }
    @include responsive(sm) {
      min-height: 16rem; /* Min height adjustment for small screens */
    }

    &__title {
      @include text-style(".raleway-bold", 1.3rem, $black);
      line-height: 2rem;
      text-transform: uppercase;
      background: linear-gradient(45deg, $black 20%, $blue-500 20%);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
    }
    &__block {
      @include flexBox(null, center);
      margin-top: 1.5rem;
      &__left {
        @include flexBox(center, center);
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
        &--studies {
          @include edu-exp-icon-style($blue-100, $blue-600, 2.1rem);
        }

        &--building {
          @include edu-exp-icon-style($blue-100, $blue-600, 1.6rem);
        }

        &--calendar {
          @include edu-exp-icon-style($gray-200, $gray-700, 1.6rem);
        }
      }
      &__right {
        @include text-style(".raleway-medium", 1.3rem, $black);
        display: inline-block;
        margin-left: 1rem;
        text-transform: capitalize;
        flex: 1;
      }
    }
  }
}
