@use "../abstracts" as *;

.edu-exp {
  padding: 8rem 0;
  &__card {
    width: 100%;
    background: linear-gradient(110deg, $white 50%, $blue-50 50%);
    padding: 1.5rem;
    box-shadow: -3rem 3rem 2rem -3rem rgba(52, 153, 211, 0.2);
    border-radius: 0.3rem;
    &__title {
      @include text-style(".raleway-bold", 1.3rem, $black);
      line-height: 2rem;
      text-transform: uppercase;
      background: linear-gradient(45deg, $black 20%, $blue-500 20%);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
    }
    &__block {
      @include flexBox(null, center);
      margin-top: 1.5rem;
      &__left {
        @include flexBox(center, center);
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
        &--studies {
          background: $blue-100;
          i {
            color: $blue-600;
            font-size: 2.1rem;
          }
        }
        &--calendar {
          background: $gray-200;
          i {
            color: $gray-700;
            font-size: 1.6rem;
          }
        }
      }
      &__right {
        @include text-style(".raleway-medium", 1.3rem, $black);
        display: inline-block;
        margin-left: 1rem;
        text-transform: capitalize;
        flex: 1;
      }
    }
  }
}
