@use "../abstracts" as *;

.homeHeader {
  margin-top: 7rem;
  position: relative;
  // Profile user img
  &::after {
    @include position(absolute, 0, 0, null, null);
    content: "";
    width: 50%;
    height: calc(100vh - 7rem);
    background: url("../../assets/img/adriano-diaz-benitez-backend-developer-home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 15%;
    clip-path: polygon(19% 0, 100% 0%, 100% 100%, 0% 100%);

    @include responsive(md) {
      width: 100%;
      background: url("../../assets/img/adriano-diaz-benitez-backend-developer-home-2.jpg");
      height: calc(50vh - 7rem);
      clip-path: none;
    }
  }

  &__data {
    width: 100%;
    height: calc(100vh - 10rem);
    @include flexBox(null, center);
    @include responsive(md) {
      height: calc(50vh - 3rem);
      margin-top: calc(50vh - 7rem);
      justify-content: center;
    }

    @include responsive(xsm) {
      justify-content: flex-start;
    }

    &__contents {
      &__top {
        @include text-style('.raleway-medium', 1.7rem, $black);
        text-transform: capitalize;

        @include responsive(xsm) {
          font-size: 1.6rem;
        }
      }

      &__heading {
        margin-top: 1.5rem;
        font-size: 4.5rem;
        font-weight: 900;
        line-height: 4.5rem;
        background: linear-gradient(45deg, $black 50%, $blue-500 50%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        text-transform: capitalize;

        @include responsive(md) {
          font-size: 4rem;
          line-height: 4rem;
        }

        @include responsive(sm) {
          font-size: 3.3rem;
          line-height: 3.3rem;
          margin-top: 1rem;
          font-weight: 800;
        }

        @include responsive(xsm) {
          font-size: 3rem;
          line-height: 3rem;
          font-weight: 700;
        }
      }
      &__bottom {
        @include text-style('.raleway-medium', 1.8rem, $black);
        margin-top: 1.5rem;
        text-transform: capitalize;

        @include responsive(sm) {
          margin-top: 1rem;
        }

        @include responsive(xsm) {
          font-size: 1.7rem;
        }
      }
      
      &__links {
        margin-top: 1.5rem;
      }
    }
  }
}
