@use "../abstracts" as *;

.header {
  margin-top: 7rem;
  position: relative;
  // Profile user img
  &::after {
    @include position(absolute, 0, 0, null, null);
    content: "";
    width: 50%;
    height: calc(100vh - 7rem);
    background: url("../../assets/img/adriano-diaz-benitez-backend-developer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 15%;
    clip-path: polygon(19% 0, 100% 0%, 100% 100%, 0% 100%);
    @include responsive(md) {
      clip-path: none;
    }
    @include responsive(sm) {
      width: 100%;
      height: calc(50vh - 7rem);
    }
  }
  &__data {
    width: 100%;
    height: calc(100vh - 10rem);
    @include flexBox(null, center);
    @include responsive(sm) {
      height: calc(50vh - 10rem);
      margin-top: 50vh;
      background: red;
    }
    &__contents {
      &__top {
        font-size: 1.7rem;
        font-weight: 500;
        text-transform: capitalize;
        color: $black;
      }
      &__heading {
        margin-top: 1.5rem;
        font-size: 4.5rem;
        font-weight: 900;
        line-height: 4.5rem;
        background: linear-gradient(45deg, $black 50%, $blue-500 50%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        text-transform: capitalize;
      }
      &__bottom {
        margin-top: 1.5rem;
        text-transform: capitalize;
        font-size: 1.8rem;
        font-weight: 500;
        color: $black;
      }
      &__links {
        margin-top: 1.5rem;
      }
    }
  }
}
