@use "../abstracts" as *;

.homeModal {
  width: 100%;
  height: 100%;
  @include position(fixed, 0, 0, 0, 0);
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  @include flexBox(center, center);
  &__wrapper {
    display: flex;
    width: 75rem;
    height: 45rem;
    background: $white;
    &__image {
      width: 50%;
      height: 45rem;
      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__contents {
      width: 50%;
      padding: 5rem 2rem;
      &__p {
        margin-top: 1.5rem;
        font-size: 1.4rem;
        font-weight: 400;
        color: $black;
        line-height: 2.5rem;
        text-align: justify;
      }
      &__block {
        @include flexBox(space-between, null);
      }
    }
  }
}
