@use "../abstracts" as *;
@use "../base" as *;

.nav {
  width: 100%;
  height: 7rem;
  background: $white;
  @include position(fixed, 0, null, null, 0);
  border-bottom: 0.1rem solid $gray-100;
  @include flexBox(center, null);
  &__wrapper {
    width: 100%;
    max-width: $maxWidth;
    padding-left: $gutter;
    padding-right: $gutter;
    @include flexBox(space-between, center);
    &__logo {
      &__brand {
        @extend .raleway-semibold;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 2.5rem;
        color: $black;
        position: relative;
        // this class creates de dot after the name
        &::after {
          @include position(absolute, null, -1rem, 0.6rem, null);
          content: "";
          width: 0.8rem;
          height: 0.8rem;
          background: $blue-500;
          border-radius: 50%;
          box-shadow: 0.2rem 0.2rem $blue-200;
        }
      }
    }
    &__ul {
      display: flex;
      list-style: none;
      @include responsive(sm) {
        @include position(fixed, 7rem, 0, 0, 0);
        width: 100%;
        height: 100%;
        background: $blue-500;
        flex-direction: column;
        padding-top: 5rem;
      }
      &__li {
        &__a {
          @extend .raleway-semibold;
          text-decoration: none;
          text-transform: capitalize;
          color: $black;
          font-size: 1.4rem;
          padding-left: $gutter;
          padding-right: $gutter;
        }
        &:first-child &__a {
          color: $blue-500;
        }
        &:last-child &__a {
          padding-right: 0;
        }
      }
    }
  }
}
