@use "../abstracts/colors" as *;
@use "../base/typography" as *;

.nav {
  width: 100%;
  height: 7rem;
  background: $white;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 0.1rem solid $gray-100;
  display: flex;
  justify-content: center;
  &__wrapper {
    width: 100%;
    max-width: 120rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
      &__brand {
        @extend .raleway-semibold;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 2.5rem;
        color: $black;
        position: relative;
        &:after {
          position: absolute;
          content: "";
          right: -1rem;
          bottom: .6rem;
          width: .8rem;
          height: .8rem;
          background: $blue-500;
          border-radius: 50%;
          box-shadow: .2rem .2rem $blue-200;
        }
      }
    }
    &__ul {
      display: flex;
      list-style: none;
      &__li {
        &__a {
          @extend .raleway-semibold;
          text-decoration: none;
          text-transform: capitalize;
          color: $black;
          font-size: 1.4rem;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
        }
        &:first-child &__a {
          color: $blue-500;
        }
        &:last-child &__a {
          padding-right: 0;
        }
      }
    }
  }
}
