@use "../abstracts/" as *;

.projects {
  padding: 8rem 0;
  &__card {
    width: 100%;
    max-height: 27rem;
    overflow: hidden;
    position: relative;
    &__image {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__layer {
      @include position(absolute, 0, 0, 0, 0);
      width: 100%;
      height: 100%;
      background: $blue-300;
      @include flexBox(center, center);
      flex-direction: column;
      padding: 1.5rem;
      transform: scale(0);
      transform-origin: 100% 100%;
      transition: transform 0.2s linear;
      &__contents {
        &__title {
          @include text-style(".raleway-semibold", 1.6rem, $blue-900);
          text-transform: capitalize;
        }

        &__tools {
          display: block;
          @include text-style(".raleway-semibold", 1.2rem, $blue-700);
          margin-top: 0.5rem;
          text-transform: uppercase;
          text-align: center;
        }
      }
      &__link {
        margin-top: 1rem;
        a {
          text-decoration: none;
          i {
            @include text-style(".raleway-medium", 2.5rem, $white);
          }
        }
      }
    }
    &:hover &__layer {
      transform: scale(1);
      animation: layerAnimation 0.4s ease-in-out;
      @keyframes layerAnimation {
        from {
          border-radius: 50%;
        }
        to {
          border-radius: 0%;
        }
      }
    }
    &:hover &__layer__contents {
      animation: contentsAnimation 0.5s ease-in-out;
      @keyframes contentsAnimation {
        from {
          transform: translateY(-8rem);
        }
        to {
          transform: translateY(0rem);
        }
      }
    }
    &:hover &__layer__link {
      animation: linkAnimation 0.5s ease-in-out;
      @keyframes linkAnimation {
        from {
          transform: translateY(-8rem);
        }
        to {
          transform: translateY(0rem);
        }
      }
    }
  }
}
