@use "../abstracts/" as *;

.projects {
  padding: 8rem 0;
  &__card {
    width: 100%;
    max-height: 27rem;
    overflow: hidden;
    position: relative;
    &__image {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__layer {
      @include position(absolute, 0, 0, 0, 0);
      width: 100%;
      height: 100%;
      background: $blue-500;
      @include flexBox(center, center);
      flex-direction: column;
      padding: 1.5rem;
      &__contents {
        &__title {
          @include text-style(".raleway-semibold", 1.6rem, $blue-900);
          text-transform: capitalize;
        }

        &__tools {
          display: block;
          @include text-style(".raleway-semibold", 1.2rem, $blue-700);
          margin-top: 0.5rem;
          text-transform: uppercase;
          text-align: center;
        }
      }
      &__link {
        margin-top: 1rem;
        a {
          text-decoration: none;
          i {
            @include text-style(".raleway-medium", 2.5rem, $white);

          }
        }
      }
    }
  }
}
