.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-medium {
  @extend .raleway-regular;
  font-weight: 500;
}

.raleway-semibold {
  @extend .raleway-regular;
  font-weight: 600;
}

.raleway-bold {
  @extend .raleway-regular;
  font-weight: 700;
}

.raleway-extrabold {
  @extend .raleway-regular;
  font-weight: 800;
}

.raleway-black {
  @extend .raleway-regular;
  font-weight: 900;
}

.raleway-italic-regular {
  @extend .raleway-regular;
  font-weight: 400;
  font-style: italic;
}

.raleway-italic-light {
  @extend .raleway-italic-regular;
  font-weight: 300;
}

html {
  font-size: 62.5%; // 10/16 * 100 - get the percentage for the font-size
}

body {
  @extend .raleway-regular;
  line-height: 1.5;
}

p {
  font-size: 1.5rem;
}
