@use "sass:math";
@use "variables" as *;

@mixin flexBox($x, $y) {
  display: flex;
  justify-content: $x;
  align-items: $y;
}

@mixin position($position, $top, $right, $bottom, $left) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin generate-columns($key) {
  @for $i from 1 through 12 {
    .col-#{$key}-#{$i} {
      flex-basis: math.div(100%, 12) * $i;
      max-width: math.div(100%, 12) * $i;
    }
  }
}

@mixin responsive($screen) {
  @if $screen == lg {
    @media (max-width: map-get($breakPoints, "lg")) {
    }
  } @else if $screen == md {
    @media (max-width: map-get($breakPoints, "md")) {
    }
  } @else if $screen == sm {
    @media (max-width: map-get($breakPoints, "sm")) {
    }
  } @else if $screen == xsm {
    @media (max-width: map-get($breakPoints, "xsm")) {
    }
  }
}
