@use "sass:math";

@mixin flexBox($x, $y) {
  display: flex;
  justify-content: $x;
  align-items: $y;
}

@mixin position($position, $top, $right, $bottom, $left) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin generate-columns($key, $value) {
  @for $i from 1 through 12 {
    .col-#{$key}-#{$i} {
      flex-basis: math.div(100%, 12) * $i;
      max-width: math.div(100%, 12) * $i;
    }
  }
}
